<div id="footer" class="parralax">

    <div class="link-to-me">
       
        <div>
            <a href="https://www.linkedin.com/in/christophe-habineza/">
                <span>@Christophe Habineza</span>
            </a>
        </div>
        <div>
            <a href="https://www.linkedin.com/in/christophe-habineza/">
                <span>Linkedin</span>
            </a>
        </div>

        <div>
            <a> 
                <span #a2hs>add to home</span>
            </a>
        </div>
    </div>
</div>