@mixin nav-style-cont{
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-around;
   list-style-type: none;
   font-size: 1.5em;
   color:gray;
   cursor: pointer;

   @media only screen and (max-width:768px) {
       justify-content: space-between;
       font-size: 1em;
   }

   @media only screen and (max-width:425px) {
    justify-content:space-around;
    font-size: 0.6em;
}
}

#navList{
    @include nav-style-cont();

    li{
        text-decoration: none;
    }

    li:hover{
        // text-decoration: underline;
        color:orange
    }

    li.active{
        color: orage;
    }
}

@import url('../../assets/parallax.scss')