#homeCont{
    min-height: 80vh;
    width:100%;
    background-image:url("https://wallpapercave.com/wp/wp1874165.jpg");
    left:0; 

    // create parallax effect
    @import url('../../assets/parallax.scss');
}

#SearchCont{
    width: 50%;
    margin:auto;
    padding-top:40vh;
    display: flex;
    flex-direction: row;
    justify-self: center;

    @media  only screen and (max-width:425px){
        display: flex;
        flex-direction: column;
        justify-self: center;
        width:70%;
        padding-top: 30vh;
    }

    input{
        height:40px;
        border-radius: 10px;
        text-decoration: none;
        opacity: 0.8;
        text-align: center;
        border:none;
        width:60%;
        margin-left: 10%;
        
        @media  only screen and (max-width:425px){
            width:100%;
            margin:0;
        }

        &:focus{
            text-decoration: none; 
            border:none;
            outline: none;
        }
    }

    button{
        width:20%;
        height: 40px;  
        margin-left: 2%; 
        border-radius: 10px;
        background-color: rebeccapurple;
        color:white;
        border: none;

        @media  only screen and (max-width:425px){
            width:100%;
            margin:0;
            margin-top:30px
        }
        &:focus{
            text-decoration: none; 
            border:none;
            outline: none;
        }
    }
}